%p#notice= notice

%h1
  = "User ID:"
  = @user.id
%p= link_to 'edit', edit_user_path(@user)
%p= link_to 'delete me', @user, method: :delete

%p
  %b{:style => "color: gray"}= "First:"
  = @user.first
%p
  %b{:style => "color: gray"}= "Last:"
  = @user.last
%p
  %b{:style => "color: gray"}= "email:"
  = @user.email

%p= link_to 'back to user list', users_path
