%p#notice= notice

%h1
  -if @video.title?
    = link_to @video.title, @video
  - else
  = link_to "Video #{@video.id}", @video
  %p= link_to 'edit', edit_video_path(@video)
  %p= link_to 'delete me', @video, method: :delete

%p
  .caption Title:
  = @video.title
%p
  .caption URL:
  = @video.url
%p
  .caption Interviewee:
  = @video.interviewee

%p= link_to 'back to video list', videos_path
