%h1= @video.title
%p= link_to 'edit', edit_video_path(@video)
%p= link_to 'delete me', @video, method: :delete

%p
	%a{:style => "color: gray"}= "Title:"
	= @video.title
%p
	%a{:style => "color: gray"}= "URL:"
	= @video.url
%p
	%a{:style => "color: gray"}= "Interviewee:"
	= @video.interviewee

%p= link_to 'back to video list', videos_path
