!!!
%html
  %head
    %title
      LeaderShares

    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to("LeaderShares", root_path, :class => "brand")
          .nav-collapse.collapse
            %ul.nav
              %li= link_to("Home", root_path)
            %ul.nav.pull-right
              %li= link_to("Videos", videos_path)
              %li= link_to("Link 2", root_path)
              %li= link_to("Link 3", root_path)



    .container-fluid
      %header.row

      .notice= flash[:notice]
      .error= flash[:error]

      #main= yield

      %footer &copy; JR 2013