!!!
%html
  %head
    %title
      LeaderShares

    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body
    = render 'layouts/header'

    .container
      .notice= flash[:notice]
      .error= flash[:error]

      #main= yield

    = render 'layouts/footer'